@if(Size == TitleSize.Xs)
{
    <h6 class="@CssClass">@ChildContent</h6>

}
else if(Size == TitleSize.Sm)
{
    <h5 class="@CssClass">@ChildContent</h5>

}
else if (Size == TitleSize.Md)
{
    <h4 class="@CssClass">@ChildContent</h4>

}
else if(Size == TitleSize.Lg)
{
    <h3 class="@CssClass">@ChildContent</h3>

}
else if (Size == TitleSize.Xl)
{
    <h2 class="@CssClass">@ChildContent</h2>

}
else if (Size == TitleSize.X2l)
{
    <h1 class="@CssClass">@ChildContent</h1>

}
else
{
    
}

@code {
    [Parameter] public TitleSize Size { get; set; } = TitleSize.Md;
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public TextColor Color { get; set; } = TextColor.black;

    private string CssClass =>
    $"{GetTextColor()}";

    private string GetTextColor() =>
    Color switch
    {
        TextColor.white => "text-white",
        TextColor.black => "text-black",
        _ => "text-black"
    };
}